/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// Disable scroll when there is a no-scroll component

@media (min-width: 1000px) {
	html:has(.no-scroll) {
		margin: 0;
		height: 100%;
		overflow: hidden;
	}
}
